/* =============================================================================
   HTML5 Boilerplate CSS: h5bp.com/css
   ========================================================================== */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden], .hidden { display: none; }

html { font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
html, button, input, select, textarea { font-family: sans-serif; color: #222; }
body { margin: 0; font-size: 1em; line-height: 1.4; }

::-moz-selection { background: #fe57a1; color: #fff; text-shadow: none; }
::selection { background: #fe57a1; color: #fff; text-shadow: none; }

a { color: #00e; }
a:visited { color: #551a8b; }
a:hover { color: #06e; }
a:focus { outline: thin dotted; }
a:hover, a:active { outline: 0; }

abbr[title] { border-bottom: 1px dotted; }
b, strong { font-weight: bold; }
blockquote { margin: 1em 40px; }
dfn { font-style: italic; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
ins { background: #ff9; color: #000; text-decoration: none; }
mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }
pre, code, kbd, samp { font-family: monospace, serif; _font-family: 'courier new', monospace; font-size: 1em; }
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }
q { quotes: none; }
q:before, q:after { content: ""; content: none; }
small { font-size: 85%; }

sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }

img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }

svg:not(:root) { overflow: hidden; }

figure { margin: 0; }

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }
label { cursor: pointer; }
legend { border: 0; *margin-left: -7px; padding: 0; white-space: normal; }
button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }
button, input { line-height: normal; }
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; *overflow: visible; }
button[disabled], input[disabled] { cursor: default; }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; *width: 13px; *height: 13px; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button { -webkit-appearance: none; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
textarea { overflow: auto; vertical-align: top; resize: vertical; }
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }

table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }

.chromeframe { margin: 0.2em 0; background: #ccc; color: black; padding: 0.2em 0; }


/* ===== Initializr Styles =====================================================
   Author: Jonathan Verrecchia - verekia.com/initializr/responsive-template
   ========================================================================== */

body{ font:16px/26px Helvetica, Helvetica Neue, Arial; }

.wrapper{
	width:90%;
	margin:0 5%;
}

/* ===================
    ALL: Orange Theme
   =================== */

#header-container{ border-bottom: 20px solid #e44d26; }
#footer-container{ border-top:    20px solid #e44d26; }
#main aside      { border-top:    20px solid #e44d26; }

#header-container,
#footer-container,
#main aside{
	background:#f16529;
}

#title{ color:white; }

::-moz-selection { background: #f16529; color: #fff; text-shadow: none; }
::selection      { background: #f16529; color: #fff; text-shadow: none; }

/* ==============
    MOBILE: Menu
   ============== */

nav a{
	display:block;
	margin-bottom:10px;
	padding:15px 0;

	background:#e44d26;
	color:white;

	text-align:center;
	text-decoration:none;
	font-weight:bold;
}

nav a:hover, nav a:visited{
	color:white;
}

nav a:hover{
	text-decoration:underline;
}

/* ==============
    MOBILE: Main
   ============== */

#main{
	padding:30px 0;
}

#main article h1{
	font-size:2em;
}

#main aside{
	color:white;
	padding:0px 5% 10px;
}

#footer-container footer{
	color:white;
	padding:20px 0;
}

/* ===============
    ALL: IE Fixes
   =============== */

.ie7 #title{ padding-top:20px; }


/* ===== Primary Styles ========================================================
   Author:
   ========================================================================== */











/* =============================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 480px) {

/* ====================
    INTERMEDIATE: Menu
   ==================== */
	
	nav a{
		float:left;
		width:27%;
		margin:0 1.7%;
		padding:25px 2%;
		margin-bottom:0;
	}
	
	nav li:first-child a{ margin-left:0;  }
	nav li:last-child  a{ margin-right:0; }
	
/* ========================
    INTERMEDIATE: IE Fixes
   ======================== */

	nav ul li{
		display:inline;
	}	
	.oldie nav a{
		margin:0 0.7%;		
	}
}

@media only screen and (min-width: 768px) {

/* ====================
    WIDE: CSS3 Effects
   ==================== */

	#header-container,
	#main aside{
		-webkit-box-shadow:0 5px 10px #aaa;
		   -moz-box-shadow:0 5px 10px #aaa;
		        box-shadow:0 5px 10px #aaa;
	}

/* ============
    WIDE: Menu
   ============ */
	
	#title{
		float:left;
	}

	nav{
		float:right;
		width:38%;
	}

/* ============
    WIDE: Main
   ============ */

	#main article{
		float:left;
		width:57%;
	}
		
	#main aside{
		float:right;
		width:28%;
	}
}

@media only screen and (min-width: 1140px) {

/* ===============
    Maximal Width
   =============== */

	.wrapper{
		width:1026px; /* 1140px - 10% for margins */
		margin:0 auto;
	}
}

/* =============================================================================
   Non-Semantic Helper Classes
   ========================================================================== */

.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; *line-height: 0; }
.ir br { display: none; }
.hidden { display: none !important; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }

/* =============================================================================
   Print Styles
   ========================================================================== */
 
@media print {
  * { background: transparent !important; color: black !important; box-shadow:none !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } /* Black prints faster: h5bp.com/s */
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* h5bp.com/t */
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}

/* =============================================================================
   Grandfather's Clock Styles
   ========================================================================== */
body {
	background: url('../img/webtreats_wood-pattern7-512.png');
}
.card {
	background-color: white;
	width: 1.4in;
	border: 1px solid black;
	height: 1.96in;
	position: relative;
	top: 0.07in;
	margin: 0 auto;
	-webkit-box-shadow:  0px 0px 3px 0px rgba(0, 0, 0, 0.3);
	box-shadow:  0px 0px 3px 0px rgba(0, 0, 0, 0.3);
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
	.card .card-name {
		line-height: 1;
		font-size: 0.2in;
	}
	.card .card-name.bottom {
		position: absolute;
		right: 0.1in;
		bottom: 0.1in;
	}
	.card .card-name.top {
		left: 0.1in;
		position: absolute;
		top: 0.1in;
	}
	.card .suit-container {
		position: relative;
		width: 1.2in;
		margin: 0 0 0 0.09in;
		top: 0.2in;
		height: 1.56in;
		overflow: hidden;
		font-size: 0.2in;
		line-height: 1;
	}
		.card .suit-container .suit {
			position: relative;
		}
.card-2 .card-name:before {
	content: "2";
}
.card-2 .suit {
	font-size: 0.5in;
}
.card-2 .suit-1,
.card-2 .suit-2 {
	text-align: center;
}
.card-2 .suit-2 {
	top: 0.6in;
	-moz-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
}
.card-3 .card-name:before {
	content: "3";
}
.card-3 .suit {
	font-size: 0.5in;
}
.card-3 .suit-1,
.card-3 .suit-2,
.card-3 .suit-3 {
	text-align: center;
}
.card-3 .suit-3 {
	-moz-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
	margin-top: 0.05in;
}
.card-4 .card-name:before {
	content: "4";
}
.card-4 .suit-container .suit {
	position: absolute;
	font-size: 0.5in;
}
.card-4 .suit-1,
.card-4 .suit-3 {
	left: 0.1in;
}
.card-4 .suit-2,
.card-4 .suit-4 {
	right: 0.1in;
}
.card-4 .suit-3,
.card-4 .suit-4 {
	bottom: 0;
	-moz-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
}
.card-5 .card-name:before {
	content: "5";
}
.card-5 .suit-container .suit {
	position: absolute;
	font-size: 0.4in;
}
.card-5 .suit-1,
.card-5 .suit-2 {
	top: 0;
}
.card-5 .suit-1,
.card-5 .suit-4 {
	left: 0.1in;
}
.card-5 .suit-2,
.card-5 .suit-5 {
	right: 0.1in;
}
.card-5 .suit-3 {
	left: 50%;
	margin-left: -0.1in;
	top: 0.54in;
}
.card-5 .suit-4,
.card-5 .suit-5 {
	bottom: 0;
	-moz-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
}
.card-6 .card-name:before {
	content: "6";
}
.card-6 .suit-container .suit {
	position: absolute;
	font-size: 0.4in;
}
.card-6 .suit-1,
.card-6 .suit-3,
.card-6 .suit-5 {
	left: 0.1in;
}
.card-6 .suit-2,
.card-6 .suit-4,
.card-6 .suit-6 {
	right: 0.1in;
}
.card-6 .suit-3,
.card-6 .suit-4 {
	top: 0.56in;
}
.card-6 .suit-5,
.card-6 .suit-6 {
	bottom: 0;
	-moz-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
}
.card-7 .card-name:before {
	content: "7";
}
.card-7 .suit-container .suit {
	position: absolute;
	font-size: 0.4in;
}
.card-7 .suit-1,
.card-7 .suit-4,
.card-7 .suit-6 {
	left: 0.1in;
}
.card-7 .suit-2,
.card-7 .suit-5,
.card-7 .suit-7 {
	right: 0.1in;
}
.card-7 .suit-3 {
	top: 0.3in;
	left: 50%;
	margin-left: -0.1in;
}
.card-7 .suit-4,
.card-7 .suit-5 {
	top: 0.56in;
}
.card-7 .suit-6,
.card-7 .suit-7 {
	bottom: 0;
	-moz-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
}
.card-8 .card-name:before {
	content: "8";
}
.card-8 .suit-container .suit {
	position: absolute;
	font-size: 0.4in;
}
.card-8 .suit-1,
.card-8 .suit-3,
.card-8 .suit-5,
.card-8 .suit-7 {
	left: 0.1in;
}
.card-8 .suit-2,
.card-8 .suit-4,
.card-8 .suit-6,
.card-8 .suit-8 {
	right: 0.1in;
}
.card-8 .suit-3,
.card-8 .suit-4 {
	top: 0.37in;
}
.card-8 .suit-5,
.card-8 .suit-6,
.card-8 .suit-7,
.card-8 .suit-8 {
	-moz-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
}
.card-8 .suit-5,
.card-8 .suit-6 {
	top: 0.79in;
}
.card-8 .suit-7,
.card-8 .suit-8 {
	bottom: 0;
}
.card-9 .card-name:before {
	content: "9";
}
.card-9 .suit-container .suit {
	position: absolute;
	font-size: 0.35in;
}
.card-9 .suit-1,
.card-9 .suit-4,
.card-9 .suit-6,
.card-9 .suit-8 {
	left: 0.1in;
}
.card-9 .suit-2,
.card-9 .suit-5,
.card-9 .suit-7,
.card-9 .suit-9 {
	right: 0.1in;
}
.card-9 .suit-3 {
	left: 50%;
	margin-left: -0.11in;
	top: 0.2in;
}
.card-9 .suit-4,
.card-9 .suit-5 {
	top: 0.37in;
}
.card-9 .suit-6,
.card-9 .suit-7,
.card-9 .suit-8,
.card-9 .suit-9 {
	-moz-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
}
.card-9 .suit-6,
.card-9 .suit-7 {
	top: 0.79in;
}
.card-9 .suit-8,
.card-9 .suit-9 {
	bottom: 0;
}
.card-10 .card-name:before {
	content: "10";
}
.card-10 .suit-container .suit {
	position: absolute;
	font-size: 0.35in;
}
.card-10 .suit-1,
.card-10 .suit-2 {
	top: 0.05in;
}
.card-10 .suit-1,
.card-10 .suit-4,
.card-10 .suit-6,
.card-10 .suit-9 {
	left: 0.1in;
}
.card-10 .suit-2,
.card-10 .suit-5,
.card-10 .suit-7,
.card-10 .suit-10 {
	right: 0.1in;
}
.card-10 .suit-3,
.card-10 .suit-8 {
	left: 50%;
	margin-left: -0.11in;
}
.card-10 .suit-3 {
	top: 0.25in;
}
.card-10 .suit-4,
.card-10 .suit-5 {
	top: 0.41in;
}
.card-10 .suit-6,
.card-10 .suit-7,
.card-10 .suit-8,
.card-10 .suit-9,
.card-10 .suit-10 {
	-moz-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
}
.card-10 .suit-6,
.card-10 .suit-7 {
	bottom: 0.41in;
}
.card-10 .suit-8 {
	bottom: 0.25in;
}
.card-10 .suit-9,
.card-10 .suit-10 {
	bottom: 0.05in;
}
.card-ace .card-name:before {
	content: "A";
}
.card-ace .suit-container .suit {
	position: absolute;
	left: 50%;
	top: 0.41in;
	font-size: 0.7in;
	margin-left: -0.18in;
}
.card-club,
.card-spade {
	color: black;
}
.card-diamond,
.card-heart {
	color: #C21414;
}
.card-jack .card-name:before {
	content: "J";
}
.card-king .card-name:before {
	content: "K";
}
.card-queen .card-name:before {
	content: "Q";
}
.card.selected {
	-webkit-box-shadow: inset 0px 0px 10px 0px #1433AC;
	box-shadow: inset 0px 0px 10px 0px #1433AC;
	background-color: #E1F2FF;
}
.clock-face .foundation .card {
	position: absolute;
	left: 0.05in;
	top: 0.07in;
}
.clock-face.tableau-card-selected .card {
	cursor: pointer;
}
#container {
	position: relative;
	width: 100%;
	top: 0.5em;
}
#credits {
	width: 100%;
	background-color: rgba(0,0,0,0.5);
	font-size: 12px;
	color: #C69974;
	margin-top: 0.5in;
}
	#credits:after {
		display: table;
		content: "";
		clear: left;
	}
	#credits a,
	#credits a:link,
	#credits a:active,
	#credits a:visited {
		color: #DC974B;
	}
	#credits a:hover,
	#credits a:focus {
		color: #f9f9f9;
	}
	#credits p {
		padding: 1em;
		margin: 0;
		float: left;
	}
.foundation {
	width: 1.5in;
	height: 2.1in;
	-webkit-box-shadow:  0px 0px 3px 0px rgba(0, 0, 0, 0.3);
	box-shadow:  0px 0px 3px 0px rgba(0, 0, 0, 0.3);
	position: absolute;
	left: 50%;
	background-color: rgba(0,0,0,0.3);
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
	.foundation .card-container:last-child .card {
		cursor: pointer;
	}
#foundation-12 {
}
#foundation-11 {
}
#foundation-1 {
}
#foundation-10 {
}
#foundation-2 {
}
#foundation-9 {
}
#foundation-3 {
}
#foundation-8 {
}
#foundation-4 {
}
#foundation-7 {
}
#foundation-5 {
}
#foundation-6 {
}
.foundations.clock-face {
	position: relative;
}
.suit-club .suit:before {
	content: "\2663";
}
.suit-diamond .suit:before {
	content: "\2666";
}
.suit-heart .suit:before {
	content: "\2665";
}
.suit-spade .suit:before {
	content: "\2660";
}
.svg-card.card {
	background-color: transparent;
	-webkit-box-shadow: none;
	box-shadow: none;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	border: none;
}
	.svg-card svg {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
	}
.tableau {
	width: 14in;
	margin: 0 auto;
}
	.tableau .column {
		width: 1.5in;
		float: left;
		margin-right: 0.25in;
	}
		.tableau .column .foundation {
			position: relative;
			height: auto;
			min-height: 2.1in;
			left: 0;
		}
			.tableau .column .foundation .card-container {
				min-width: 1.4in;
				min-height: 1.96in;
			}
			.tableau .column .foundation .card-container-1,
			.tableau .column .foundation .card-container-2,
			.tableau .column .foundation .card-container-3,
			.tableau .column .foundation .card-container-4 {
				margin-bottom: -1.5in;
			}
.tableau:after {
	content: "";
	display: table;
	clear: left;
}